doctype html
html
  head
    title Lista de Propiedades
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/propiedades.css")
    
    
  body

    h1 Lista de Propiedades

    if propiedades.length
      table(border='1' cellpading='5' cellspacing='0')
        thead 
          tr 
            th ID 
            th Direccion
            th Tipo 
            th Estado 
            th Ambientes
            th Superficie
            th Descripcion
            th Precio
            th Observaciones
            th Acciones
          tbody 
            each propiedad in propiedades 
              tr 
                td #{propiedad._id}
                td #{propiedad.direccion}
                td #{propiedad.tipo}
                td #{propiedad.estado}
                td #{propiedad.ambientes}
                td #{propiedad.superficie}
                td #{propiedad.descripcion}
                td #{propiedad.precio}
                td #{propiedad.observaciones}
                td
                  button(
                    type="button",
                    onclick="editarPropiedad(this)"
                    data-id=propiedad._id,
                    data-direccion=propiedad.direccion,
                    data-tipo=propiedad.tipo,
                    data-estado=propiedad.estado,
                    data-ambientes=propiedad.ambientes,
                    data-superficie=propiedad.superficie,
                    data-descripcion=propiedad.descripcion,
                    data-precio=propiedad.precio,
                    data-observaciones=propiedad.observaciones, 
                   ) Editar
                  button(type="button", onclick="eliminarPropiedad(this.dataset.id)" data-id=propiedad._id) Eliminar



    else
      p No hay tareas para mostrar.

h2 Agregar/editar propiedad

form#formCrearPropiedad(method="POST", action="/propiedades", onsubmit="event.preventDefault(); guardarPropiedad()")
  input(type="hidden", name="id", id="propiedadId") 
  input(type="hidden", name="method", id="methodField", value="POST") 
  

  p(style="font-size: 12px; color: gray") (*) Campo obligatorio
  
  //Campos del formulario//

  label(for="direccion") Direccion: *
  input(type="text", name="direccion", id="direccion", required)
   


  label(for="tipo") Tipo: *
  select(name="tipo", id="tipo", required)
    option(value="") Seleccione el tipo de propiedad 
    option(value="Casa") Casa
    option(value="Departamento") Departamento

  label(for="estado") Estado: *
  select(name="estado", id="estado", required)
    option(value="") Seleccione el estado de la propiedad
    option(value="Disponible") Disponible
    option(value="Reservada") Reservada
   

  label(for="ambientes") Ambientes: *
  select(name="ambientes", id="ambientes", required)
    option(value="") Seleccione la cantidad de ambientes 
    option(value="1") 1
    option(value="2") 2
    option(value="3") 3
    option(value="4") 4
    option(value="5") 5
   
  label(for="superficie") Superficie: *
  input(type="number", name="superficie", id="superficie", required)
   
  label(for="descripcion") Descripcion: *
  input(type="text", name="descripcion", id="descripcion", required)
 
   
  label(for="precio") Precio: *
  input(type="number", name="precio", id="precio", required)
   
  label(for="observaciones") Observaciones: 
  input(name="observaciones", id="observaciones")

  button(type="submit") Guardar 
  button(type="button", onclick="limpiarFormulario()") Limpiar

  script(src="/js/propiedades.js")
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 

   

   

